* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  background-color: #f8f8f8; 
  color: #333; 
}

header {
  background-color: #e0e0e0; 
  padding: 20px;
  text-align: center;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

header span {
  font-size: 1.8em; 
  color: #4a4a4a; 
}

main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em;
}

#root {
  background-color: #fff;
  width: 80%;
  margin: 20px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1); 
  border-radius: 15px;
  overflow: hidden; 
}

.container_video {
  width: 100%;
  padding: 10px; 
}

.video_controllers {
  width: 100%;
  height: auto; 
}

/* Style général de la popup */
.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%; 
  max-width: 400px;
  background-color: white;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  z-index: 1000;
  display: none;
}


.popup-content {
  text-align: center; 
}

.popup-content h2 {
  color: #333;
  margin-bottom: 15px;
}

.popup-content p {
  color: #666;
  margin-bottom: 20px;
}

/* Style pour l'image du QR code */
.popup-content img {
  max-width: 100%; 
  max-height: 200px; 
  margin: 0 auto; 
}

/* Style du bouton de fermeture */
.close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 20px; 
  cursor: pointer;
  width: 30px; 
  height: 30px;
  border-radius: 50%;
  background-color: black; 
  color: white; 
  display: flex;
  align-items: center;
  justify-content: center; 
}

.close-btn:hover {
  background-color: #333; 
}

.container_text_popup {
  margin-top: 20px;
}

footer {
  background-color: #e0e0e0;
  padding: 20px;
  box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.1);
}
footer p {
  text-align: center;
  color: #4a4a4a;
  font-size: 0.8em;
}
