<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="{{url_for('static', filename='img/icon.png')}}" type="image/png">
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/style.css')}}"
    />
    <title>Interactive Video</title>
  </head>
  <body>
    <header>
      <span> Bienvenue pour une expérience interactive ! (Gardez vos téléphones sous le coude)</span>
    </header>
    <main>
      <div id="root"></div>
      <div id="popup" class="popup">
        <div class="popup-content">
            <span class="close-btn">&times;</span>
            <div class="container_text_popup">
                <h2 id="title_popup">Resultat</h2>
                <p id="p_popup"></p>
            </div>
        </div>
    </div>    
    </main>
    <footer>
      <p>&copy; 2023 by Lorenzo</p>
    </footer>
    <script type="text/javascript">
      var videoUrls = {{ video_urls|tojson|safe }};
      var api_urls = {{ api_urls|tojson|safe }};
    </script>

    <script
      type="module"
      src="{{url_for('static', filename='js/index.js')}}"
    ></script>
  </body>
</html>
